/* *{
    outline: 1px solid red;
} */
/* body{
    overflow-x: hidden;
} */
.about-container {
    background-image: url("../../assets/grid1.jpg");
       /* background-color: #1B1C37; */
    display: flex;
    /* background: red; */
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    padding: 0px 0 0;
    width: 100%;

    /* position: relative; */
}
.about{
    margin-top: 20px;
}
.about h1 {
    font-size: 44px;
    color: white;
}

.abt-card {
    width: 80%;
    margin-top: 190px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abt-img-container {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;

}

.abt-img {
    background-image: url("../../assets/indianFlag.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 200px;
    height: 250px;
    border-radius: 20px;
    /* position: absolute;
    top: -100px;
    right: 10px; */

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100px);
}

.text-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-area .indian h1 {
    font-weight: 100;
    font-size: 42px;
}

.responsibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.badge-img img {
    height: 80px;
    width: 80px;
}

.puntuality {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.calender-img img {
    height: 80px;
    width: 80px;
}

.svg {
    /* position: absolute;
    bottom: -210px;
    left: 0; */
    width: 100%;
    line-height: 0;
    margin-top: 50px;
}

.svg svg {
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width:800px) {
    .abt-card {
        width: 90%;
        
        padding: 0 10px; 
        height: 120px;
        min-height: unset;
        overflow: visible;

    }

    .svg {
        bottom: -55px;
    }

    .abt-img{
    width: clamp(140px, 25vw, 180px);
    aspect-ratio: 4 / 4;
    height: auto;

    transform: translateY(-80px);
}

    .responsibility {
        gap: 0;
    }

    .puntuality {
        gap: 0;
    }

    .badge-img img {
        height: 10vw;
        width: 10vw;
    }

    .percent h1 {
        font-size: 5vw;
    }

    .resp h3 {
        font-size: 3vw;
    }

    .punt h3 {
        font-size: 3vw;
    }

    .calender-img img {
        height: 10vw;
        width: 10vw;
    }
    .text-area .indian h1{
        font-size: 8vw;
    }
}